{# attching library #}
{{ attach_library('hwjma_mrct/mostreadcitedtopics') }}
<div id="mostcited">
  <ul>
    {% for key, title in most_cited %}
      <li><a href="{{key}}">{{ title }}</a></br><hr></li>
    {% endfor %}
  </ul>
  <a href="/content/{{corpus}}/most-cited" class="nav-toggle">Read More</a>
</div>

