<div id="mostcited">
</br>
    <ul>
        {% for key, title in most_cited %}
            <li><a href="{{key}}">{{ title }}</a></br><hr></li>
        {% endfor %}
    </ul>
     <a href="/content/hwjma/most-cited" class="nav-toggle">Read More</a>
</div>


