{# attching library #}
{{ attach_library('hwjma_mrct/mostreadcitedtopics') }}
<div id="mostread">
  <ul>
    {% for key, title in most_read %}
      <li><a href="{{key}}">{{ title }}</a></br><hr></li>
    {% endfor %}
  </ul>
    <a href="/content/{{corpus}}/most-read" class="nav-toggle">Read More</a>
</div>

