<div class="row past-issue-browse">
	<div class="col-2 browse_by">
	  <label class="form-label">Browse By</label>
	  <select name="browse_by" id="browse_by" type="dropdown" class="form-select">
		<option value="year">Year</option>
		<option value="volume">Volume</option>
	  </select>
	</div>
  <div class="col-8"></div>
	<div class="col-2 show_cover">
    <label class="form-label">Show Covers?</label>
    <label class="switch">
      <input class="switch-input" type="checkbox" checked />
      <span class="switch-label" data-on="Yes" data-off="No"></span> 
      <span class="switch-handle"></span> 
    </label>
	</div>
</div>
{{form}}
