.node-eletters-form {
    border: 1px dotted;
    padding: 10px;
}

.node-eletters-form table {
    border-color: #dadada;
    color: #6b6b6b;
    font-size: .86em;
    line-height: 1.5em;
    margin-bottom: 15px;
    border: 1px solid;
}
.node-eletters-form table thead,thead th,th {
    background-color: #f0f0f0;
}

.node-eletters-form th.active {
    background-color: #dadada
}

.node-eletters-form tr td,.node-eletters-form tr.even td,.node-eletters-form tr.odd td {
    background: #fff
}

.node-eletters-form tr.active td,.node-eletters-form tr.even td.active,.node-eletters-form tr.odd td.active {
    background: #f0f0f0
}

.node-eletters-form tr:hover td,.node-eletters-form tr.even:hover td.active,.node-eletters-form tr.odd:hover td.active {
    background: #fffeee
}

.node-eletters-form .tabledrag-toggle-weight-wrapper, .node-eletters-form .field-multiple-drag{
    display: none;
}

.node-eletters-form input[type="text"] {
    width: 100%;
    color: black;
}

.node-eletters-form .fieldset-legend {
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1.43em;
    margin: 15px 0;
    text-transform: uppercase;
}

.node-eletters-form .form-textarea {
    width: 100%;
}

.node-eletters-form label {
    display: block;
}

.node-eletters-form label .form-required::after {
    content: '*';
    color: red;
}

.node-eletters-form input:not(.form-radio) {
    width: 100%;
}

.node-eletters-form .paragraph-type--contributors .form-item {
    margin: 12px;
}

.node-eletters-form .option {
    display: inline;
}

.node-eletters-form summary {
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;;
}

.node-eletters-form details > :last-child {
    margin-bottom: 50px;
    margin-top: 30px;
}

.node-eletters-form th .paragraphs-actions {
    display: none;
}

.node-eletters-form .paragraph-type {
    margin: 12px;;
}

.node-eletters-form input[type="submit"] {
    background: linear-gradient(to right,#2b2733 50%,transparent 50%);
    background-size: 200% 97%;
    border-color: #2b2733;
    background-position: right bottom;
    color: #2b2733;
}

.node-eletters-form input[type="submit"]:hover {
    background-color: #2b2733;
    color: white;
}

.jump-comment-section {
    margin-top: 50px;
    font-weight: 700;
    font-size: large;
}

.hw-add-e-letters {
    color: #006a8a;
    text-decoration: underline;
    cursor: pointer;
}

.view-eletters .view-content {
    margin: 12px;

}