/* Style the tab */
.article__rightbar ul.highwire-tabs-links li a.is-active {
  background-color: #1e5c80 !important;
  color: #fff !important;
}
.article__rightbar ul.highwire-tabs-links li a {
  text-decoration: none;
}
#mostreadcited ul li {
  list-style-type: none;  
}
#mostread .journals-articles-top ul>li:before, .page-node-type-page .block-region-right ul>li:before, .tab-content ul>li:before, ul.unorder-listing>li:before {
  content: " " !important;
  width:0px !important;
}
#mostread .journals-articles-top ul>li:before, .page-node-type-page .block-region-right ul>li:before, .tab-content ul>li:before, ul.unorder-listing>li:before {
  content: " " !important;
  width:0px !important;
}
#mostread ul li {
  padding-left:0px;
}
#mostcited ul li {
  padding-left:0px;
}

