<div>
    <h2>Statistics from Altmetric.com</h2>
    <br> {{ altmetrics_data|raw }}
<div>
<hr class="solid">
<div>
    <h2>Usage statistics:</h2>
    <p>
        <a href="/journal_article_detail?type=monthly&nid=102" class="use-ajax">Monthly</a>
        <a href="/journal_article_detail?type=daily&nid=102" class="use-ajax">Daily</a>
    </p>
</div>